Multiple variable assignment

In [1]:
x = 10
y = 20
print(x,y)

10 20

In [2]:
a,b = 40,50
print(a,b)

40 50

In [4]:
database = ["Abc", 1234]
name,pin=database
print(name)
print(pin)

Abc
1234

In [8]:
a=b=c=[0,20,40]
a

[0, 20, 40]

In [9]:
b

[0, 20, 40]

In [10]:
c

[0, 20, 40]

In [ ]:
a=b=c=a,b,c

In [11]:
a,b,c=[7,9,4]
a

7

In [12]:
b

9

Variable Swapping

In [14]:
a = "AAA"

In [15]:
b = "BBB"

In [16]:
a

'AAA'

In [17]:
b

'BBB'

In [18]:
a,b=b,a

In [19]:
a,b

('BBB', 'AAA')

Assignment 
1. Explain in detail what will be  the output of the following program?.

x = 4

y = x + 1

x = 2

print x, y

In [21]:
x=4

In [23]:
y = x + 1

In [25]:
x = 2

In [27]:
x

2

In [29]:
y

5

In [30]:
x

2

2. Create a python script to print hello, world! four times.

In [38]:
x = "hello,world!"
print(x*4)

hello,world!hello,world!hello,world!hello,world!

Data Types

In [2]:
a = 2
print(a+2)

4

In [3]:
a = -10
print(a)

-10

In [4]:
res = a * a
res

100

In [5]:
pi = 3.14 // float
pi

3.14

In [7]:
c = 2 + 3j
c

(2+3j)

In [ ]:
String Operations and Method

In [10]:
first_name = "Rohit"
last_name = "Sharma"
print(first_name,type(first_name))
print(last_name,type(last_name))

Rohit <class 'str'>
Sharma <class 'str'>

In [20]:
s1 = """Python is a easy to read
and write, python works on diiferent platform
it is portable"""
s1

'Python is a easy to read\nand write, python works on diiferent platform\nit is portable'

In [17]:
mystring = ""
mystring
print(mystring,type(mystring))

 <class 'str'>

In [23]:
s1 = "This is beginning "
s2 = "This is middle ,"
s3 = "This is end"
print(s1 + s2 + s3)

This is beginning This is middle ,This is end

In [24]:
x = "hello "*3 # asterisk character is use to repeat a string
x

'hello hello hello '

In [26]:
x = "hello world "*3
x

'hello world hello world hello world '

Membership Operators will let you test for sub-strings inside a string:

In [ ]:
In: True if value/variable is found in the sequence

In [30]:
string = "Itvedant"
'It' in string

True

In [29]:
'Ti' in string

False

Not in : True if value /variable is not found in sequence

In [32]:
string = "Itvedant"
"Ti" not in string

True

In [33]:
string = "Itvedant"
"It" not in string

False

We can access characters from string in 2  ways


1.Indexing

2.Slicing

In [35]:
string = "Hello World"
string[0]

'H'

In [36]:
string[1]

'e'

In [39]:
string[12] # Index error

IndexError: string index out of range

In [41]:
s = "Itvedant Education"
print(s[0])

I

In [42]:
print(s[-1])

n

In [43]:
print(s[-5])

a

In [46]:
print(len(s))

18

In [47]:
print(-len(s))

-18

In [ ]:
Slicing

In [48]:
s = "Itvedant Education"
print(s[::])

Itvedant Education

In [52]:
print(s[0:len(s)])

Itvedant Education

In [53]:
print(s[0:len(s):1])

Itvedant Education

In [54]:
print(s[1:2])

t

In [55]:
print(s[1:50:1])

tvedant Education

len() function: Using len function you can find out length (total count of characters) in string,

In [56]:
print(len(s))

18

In [57]:
print(len(s)-1) # subtracting one

17

In [58]:
print(len(s)-2)

16

In [ ]:
String Function:
Functions to remove spaces from string:

rstrip() : Used to trim right side whitespaces from the string object.

lstrip() : Used to trim left side whitespaces from the string object.

strip() : Used to trim both side whitespaces from the string object.

In [69]:
str1 = "  String1 "
str2 = " string2  "
print("Right strip:",str2.rstrip(),end="")

Right strip:  string2

In [66]:
print("left strip:",str1.lstrip(),end="")

left strip: String1

In [72]:
print("strip:",str1.strip(),end="")

strip: String1

Functions to remove spaces from string:


capitalize() :  Returns the string with the first character capitalized and rest of the characters in lower case.

lower() - Converts all the characters of the String to lowercase

upper() - Converts all the characters of the String to uppercase

title() - Returns the 'titlecased' version of String, which means that all words start with uppercase and the rest of the characters in words are in lowercase.

swapcase() - swap the case. Convert capital letters into lowercase and lowercase letters into uppercase

In [73]:
s="itVedaNt eduCation"
print("Uppercase:",s.upper())

Uppercase: ITVEDANT EDUCATION

In [74]:
print("Lowercase:",s.lower())

Lowercase: itvedant education

In [75]:
print("capitalize:",s.capitalize())

capitalize: Itvedant education

In [76]:
print("Swapcase:",s.swapcase())

Swapcase: ITvEDAnT EDUcATION

In [78]:
print("title:",s.title())

title Itvedant Education

In [ ]:
Functions to find type of character in string:

In [79]:
s1="ab#d123"

s2="itvedant"

s3="1232"

s4="ABC"

s5="Hello All"

print(s1.isalnum())#it will check alpha numeric[a-za-Z0-9],it will return T/F

print(s2.isalpha())#it will check alpha [a-za-Z],it will return T/F

print(s3.isdigit())#it will check numbers[0-9],it will return T/F

print(s4.isupper())

print(s2.islower())

print(s5.istitle())

False
True
True
True
True
True

In [81]:
s5 = "pYTHON IS A HIGH LEVVEL LANGUAGE"
print(s5.count('L'))

3

In [82]:
print(s5.replace('HIGH','LOW'))

pYTHON IS A LOW LEVVEL LANGUAGE

In [ ]:
Split(  split_char ) - Splits the string at the specified separator, and returns a list

In [84]:
x="python-java-php-.net"
print(x.split('-'))

['python', 'java', 'php', '.net']

In [87]:
date='2022/03/01'
print(date.split('/'))

['2022', '03', '01']

In [ ]:
ASCII Character Codes: 
There are 128 characters in the standard ASCII set. 
You can use the ord() and chr() built in functions in python to return ASCII 
>>> ord('a') 

97 

>>> chr(97) 

'a'

In [89]:
ord("z")

122

In [90]:
chr(78)

'N'