Tuple,List,Dictionary,Set

A tuple is a frozen list i.e tuple cannot be modified once it is created.

A tuple is declared with round parentheses ()

As tuple are immutable, iterating through tuple is faster than with list

t = (10,56.8,"ITVEDANT", "THANE", "NAVI-MUMBAI",567)
print(t)

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
print(t[-4:-1])

('ITVEDANT', 'THANE', 'NAVI-MUMBAI')

In [5]:
print("Total no.of element in the tuple:",len(t))   #This function returns the number of elements in the tuple

Total no.of element in the tuple: 6

In [ ]:
Loop over Tuple

In [9]:
for i in range(0,2,1):
    print(t[i],end=" ")
    print()

10
56.8

In [10]:
print(t[2:5:1])

('ITVEDANT', 'THANE', 'NAVI-MUMBAI')

Modifying Tuple

Since Tuple is immutable we cannot add an element,update an element and delete a particular element from the tuple.

Note: we can delete the entire Tuple with the help of del keyword.

In [11]:
t = (10,56.8,"ITVEDANT", "THANE", "NAVI-MUMBAI",567)
print(t)

(10, 56.8, 'ITVEDANT', 'THANE', 'NAVI-MUMBAI', 567)

In [13]:
print(type(t))

<class 'tuple'>

In [15]:
del t

In [16]:
t

NameError: name 't' is not defined

In [14]:
print("Hello ", end="") #With end='' (no newline, prints continuously)
print("World")

Hello World

In [ ]:
List Operations & Methods

In [ ]:
A list refers to a collection of elements

In [17]:
mylist1 = [2,-3,0,4,-1]
mylist2 = ["Java","Python",78,56.9]

In [22]:
print(mylist1[0:5:1])

[2, -3, 0, 4, -1]

In [23]:
print(mylist1[::-1]) # The reverse of the list is thus simply possible using [::-1]

[-1, 4, 0, -3, 2]

In [ ]:
mylist2 = ["Java","Python",78,56.9]

In [25]:
mylist2.append("Power Bi")
mylist2

['Java', 'Python', 78, 56.9, 'Power Bi', 'Power Bi']

In [26]:
mylist2.insert(0,"Power Bi")
mylist2

['Power Bi', 'Java', 'Python', 78, 56.9, 'Power Bi', 'Power Bi']

In [28]:
mylist2.extend("Powe")
mylist2

['Power Bi',
 'Java',
 'Python',
 78,
 56.9,
 'Power Bi',
 'Power Bi',
 'P',
 'o',
 'w',
 'e',
 'r',
 ' ',
 'B',
 'i',
 'P',
 'o',
 'w',
 'e']

In [39]:
t1 = [10, 56.8,"ITVEDANT", "THANE", "NAVI-MUMBAI",567]
t1

[10, 56.8, 'ITVEDANT', 'THANE', 'NAVI-MUMBAI', 567]

In [42]:
print(t[::-1])

[567, 'NAVI-MUMBAI', 'THANE', 'ITVEDANT', 56.8, 10]

In [43]:
h_letter = [letter for letter in "human"] #list comprehension
h_letter

['h', 'u', 'm', 'a', 'n']

In [ ]:
Dictionary
--Dictionary is mutable type
--it is key value pair

In [46]:
#creating an empty dictionary
d = {}
d

{}

In [47]:
type(d)

dict

In [49]:
#creating a dictionary with values
d2 = {
    1:"Red", 2:"Blue", 3:"Pink"
}
d2

{1: 'Red', 2: 'Blue', 3: 'Pink'}

In [ ]:
#Keys are always unique

In [50]:
d3 = {
    1:"Red", 2:"Blue", 1:"Pink"
}
d3

{1: 'Pink', 2: 'Blue'}

In [51]:
#Keys can only contain immutable

In [54]:
d4 = {1 : "int", 12.23:"float", "abc":"str", True:"bool", (1,2,3):"tuple"}
d4

{1: 'bool', 12.23: 'float', 'abc': 'str', (1, 2, 3): 'tuple'}

In [55]:
d5 = {[1,2,3]:"list"}
d5

TypeError: unhashable type: 'list'

In [56]:
d5 = {"Snheha" : "Ambarnath", "sagar":"Badlapur","Pooja":"Kalyan","hj":"Kalyan"}
d5

{'Snheha': 'Ambarnath', 'sagar': 'Badlapur', 'Pooja': 'Kalyan', 'hj': 'Kalyan'}

In [58]:
d5["sagar"]

'Badlapur'

In [59]:
d5["Pooja"]

'Kalyan'

In [60]:
d5["neha"]

KeyError: 'neha'

In [62]:
d5.get("Neha") #empty not give error

In [63]:
d5.get("sagar")

'Badlapur'

In [65]:
print(d5.get("neha"))

None

In [68]:
print(d5.get("Raju","not available")) # beauty of get not give error

not available

In [72]:
print(d5.keys())

dict_keys(['Snheha', 'sagar', 'Pooja', 'hj'])

In [71]:
d5.values()

dict_values(['Ambarnath', 'Badlapur', 'Kalyan', 'Kalyan'])

In [74]:
d5.items() #list of tuple

dict_items([('Snheha', 'Ambarnath'), ('sagar', 'Badlapur'), ('Pooja', 'Kalyan'), ('hj', 'Kalyan')])

In [98]:
for key in d5:
    print(key)
    print(d5[key])

Snheha
Ambarnath
sagar
Badlapur
Pooja
Kalyan
hj
Kalyan

In [100]:
null_dict={}
null_dict

{}

In [109]:
d5 = {"Snheha" : "Ambarnath", "sagar":"Badlapur","Pooja":"Kalyan","hj":"Kalyan", "district":["nagpur","raigad","dhule","amravati"],
  "country":("india","pakitstan","Rashiya","bangladesh")}
d5

{'Snheha': 'Ambarnath',
 'sagar': 'Badlapur',
 'Pooja': 'Kalyan',
 'hj': 'Kalyan',
 'district': ['nagpur', 'raigad', 'dhule', 'amravati'],
 'country': ('india', 'pakitstan', 'Rashiya', 'bangladesh')}

In [114]:
print(d5["country"])

('india', 'pakitstan', 'Rashiya', 'bangladesh')

In [115]:
print(d5["district"])

['nagpur', 'raigad', 'dhule', 'amravati']

In [104]:
d5["sagar"]="Mumbai"
d5

{'Snheha': 'Ambarnath', 'sagar': 'Mumbai', 'Pooja': 'Kalyan', 'hj': 'Kalyan'}

In [107]:
d5["Rohit"]="Thane" #add new key value pair
print(d5)

{'Snheha': 'Ambarnath', 'sagar': 'Mumbai', 'Pooja': 'Kalyan', 'hj': 'Kalyan', 'Rohit': 'Thane'}

In [ ]:
Nested Dictionary

In [118]:
Student = {
    "name" : "Rohini",
    "Surname" : "Shinde",
    "Score":{
    "phy":78,
    "chy":90,
    "math":45
}
}
Student

{'name': 'Rohini',
 'Surname': 'Shinde',
 'Score': {'phy': 78, 'chy': 90, 'math': 45}}

In [122]:
print(Student["name"])

Rohini

In [124]:
print(Student[ "Score"]["phy"])

78

In [125]:
Student["Surname"]="Bhondekar"
Student

{'name': 'Rohini',
 'Surname': 'Bhondekar',
 'Score': {'phy': 78, 'chy': 90, 'math': 45}}

In [126]:
print(Student["Score"])

{'phy': 78, 'chy': 90, 'math': 45}

In [127]:
Student.keys()

dict_keys(['name', 'Surname', 'Score'])

In [128]:
Student.values()

dict_values(['Rohini', 'Bhondekar', {'phy': 78, 'chy': 90, 'math': 45}])

In [130]:
print(list(Student.values())) #converted into list

['Rohini', 'Bhondekar', {'phy': 78, 'chy': 90, 'math': 45}]

In [132]:
print(len(list(Student.values()))) #converted into list

3

In [134]:
print(len(Student.values()))

3

In [136]:
print(list(Student.items()))

[('name', 'Rohini'), ('Surname', 'Bhondekar'), ('Score', {'phy': 78, 'chy': 90, 'math': 45})]

In [138]:
pair=list(Student.items())

In [139]:
print(pair[0])

('name', 'Rohini')

In [140]:
Student.update({"city":"delhi","age":23})
Student

{'name': 'Rohini',
 'Surname': 'Bhondekar',
 'Score': {'phy': 78, 'chy': 90, 'math': 45},
 'city': 'delhi',
 'age': 23}

In [20]:
mylist3 = list("Itvedant")
mylist3

['I', 't', 'v', 'e', 'd', 'a', 'n', 't']

In [ ]:
Set Operations & Methods

In [78]:
vowels = ("a","e","i","o","u")
fset = frozenset(vowels)
print(fset)

frozenset({'o', 'e', 'u', 'i', 'a'})

In [80]:
null_set=set()
null_set

set()

In [81]:
collection = {1,2,3,2,4,"hello","world"}
collection

{1, 2, 3, 4, 'hello', 'world'}

In [84]:
collection.add(9)
collection

{1, 2, 3, 4, 9, 'hello', 'world'}

In [86]:
collection.add((5,6,7,3))
collection

{(5, 6, 7, 3), 1, 2, 3, 4, 9, 'hello', 'world'}

In [88]:
collection.remove(9)
collection

{(5, 6, 7, 3), 1, 2, 3, 4, 'hello', 'world'}

In [91]:
collection.pop()
collection

{(5, 6, 7, 3), 3, 4, 'hello', 'world'}

In [92]:
collection.clear()
collection

set()

In [94]:
set1={1,2,3}
set2={3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [95]:
set1={1,2,3}
set2={3,4,5}
set1 & set2

{3}

In [ ]:
Assignment
Write a program to find all occurrences of 'USA' in a given string ignoring the case. 

Given: str1 = "Welcome to USA. usa is awesome, isn't it?'

In [152]:
str1 = "Welcome to USA  usa is awesome, isn't it?"
print(str1.replace("usa","USA"))

Welcome to USA  USA is awesome, isn't it?

In [153]:
str1 = "Welcome to USA  USA is awesome, isn't it?"
print(str1.count("USA"))

2

In [155]:
str1 = "Emma-is-a-data-scientist"
print(str1.split("-"))

['Emma', 'is', 'a', 'data', 'scientist']

In [160]:
print(len(str1.split("-")))

5